.characters {
    padding-top:30px;
}

.version {
    font-size: 10px;
    color:#777777;
}

.col {
    margin-bottom:10px;
    text-align:center;
}

.thumbnail {
  width:100px;
  height:100px;
  -webkit-border-radius: 60px;
	border-radius: 60px;
}

.searchBox {
  margin-bottom:20px;
}
