.header {
  background-image:url('Img/rm.jpg');
  background-size:cover;
  background-position: 50% 20%;
  height:400px;
}

@media screen and (max-width: 992px) {
  .header {
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 200px;
  }
}
